/* FORM
========================================================================== */
.contact-form {
	@include rem(margin-bottom, 40px);
	@include rem(max-width, 940px); line-height:1.4;
}

/* INPUTS
========================================================================== */
.contact-form__input {
	vertical-align:text-bottom;
	@include rem(width, 245px); @include rem(height, 45px);
	color:$color-Amber; text-align:center;
	background:none; border:none; border-bottom:2px dashed $color-White;
	@include breakpoint(underDesktop) {
		@include rem(height, 40px);
	}
	@include breakpoint(small) {
		@include rem(max-width, 188px); @include rem(height, 40px);
	}
}

.contact-form__input--mail {
	@include rem(width, 380px);
}

.contact-form__thanks {	display:block; }

/**
 * CONTACT BUTTON
 */
.contact-form__submit {	@include rem(margin-top, 50px);	}

//This is an overwrite from the "anchor-button.scss"
.anchor-button__text-side-1--contact-form {	@include rem(left, 80px); }
.anchor-button__text-side-2--contact-form {	@include rem(left, 40px); }