/* WRAPPER
========================================================================== */
.home-navigation {}

/* LIST
========================================================================== */
.home-navigation__list {
	display:inline-block;
	@include rem(margin, 25px 0 55px);
	@include breakpoint(exceptDesktop) {
		position:absolute; top:100%;
		display:none;

		.navigation-wrapper--footer & {
			display:block;
			max-width:100%; max-height:100%;
		}
	}
}

.navigation-list--open {
	z-index:auto;
	display:block;
	@include rem(margin, 10px 0 0 20px);
}

.home-navigation__item {
	display:inline-block;
	@include rem(margin-right, 15px);
	&:last-child {
		margin-right:0;
	}
	@include breakpoint(exceptDesktop) {
		display:block;
		@include rem(margin-bottom, 15px);
	}

}

.home-navigation__anchor {
	@include breakpoint(exceptDesktop) {
		@include rem(font-size, 30px);
	}
}