

/* CONTAINER
========================================================================== */
.location-container {
	@include breakpoint(small) {
		display:block;
		@include rem(width, 300px);
		text-align:left;
	}
}
/* ELEMENTS
========================================================================== */
.location-container__logo {
	@include rem(margin-bottom, 30px);
}
.location-container__mail {
	display:inline-block;
	@include rem(margin-bottom, 20px);

	.default-icon--email {
		transition:opacity ease .6s;
	}

	&:hover, &:focus {
		.default-icon--email {
			transform:translate3d(20px, -20px, 0);
			opacity:0;
			transition:all ease .6s;
		}
	}
}

.location-container__mail-text {
	margin-left:10px;
	border-bottom:1px dashed;
}

.location-container__address {
	margin-bottom:25px; padding-left:27px;
	background:url('../img/icons/icon-pin.svg') no-repeat;
	transition:background-position ease .4s;
	&:hover {
		background-position:0 15px;
		transition:background-position ease .4s;

	}
}

.location-container__phone {
	.default-icon--phone {
		margin-right:10px;
	}
	&:hover {
		.default-icon--phone {
			transform-origin: top center;
	  		animation:tada .6s linear;
		}
	}
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}