/* WRAPPER
========================================================================== */
.navigation-wrapper {
	float:right;
	display:inline-block;

	@include breakpoint(exceptDesktop) {
		position:fixed; top:0; left:0;
		z-index:10000;
		margin:0; padding:3px 20px 4px;
		background-color:$color-Ming;
		width:100%;
		&.navigation-wrapper--footer {
			position:static;
			background-color:transparent;
			@include breakpoint(small) {
				display:none;
			}
		}
	}
}

.navigation-wrapper--open & {
	@include breakpoint(exceptDesktop) {
		z-index:10000;
		&:after {
			content:'';
			position:fixed; top:0; bottom:0; right:0; left:0;
			width:100%; height:100%;
			background-color:$color-Ming;
			z-index:-1;
		}
	}
}

 //MENU ICONS
 .navigation-toogler {
 	display:none;
 }
 @include breakpoint(exceptDesktop) {

	.navigation-toogler {
		display:block;
		float:left;
		border:none; background-color:transparent;
		transition:opacity ease .4s;
		&:hover, &:focus { opacity:.6; }
	}

	.navigation-toogler__burguer {
		position:relative; top:-3px;
		display:inline-block;
		margin-right:9px;
		width:14px; height:3px;
		background-color:rgb(255,255,255);
		border-radius:6px; transition:all ease .4s;
		&:before, &:after {
			content:'';
			position:absolute; left:0;
			width:14px; height:3px;
			background-color:rgb(255,255,255);
			border-radius:6px;
			transition:all ease .4s;
		}
		&:before { top:5px; }
		&:after { bottom:5px; }
	}
	.navigation-toogler__burguer--close {
		top:-9px;
		background-color:transparent;
		&:before { transform:rotate(140deg);}
		&:after { top:5px; transform:rotate(-140deg); }
	}
	.navigation-toogler__text {
		position:relative; top:1px;
	}
 }