/* WRAPPER
========================================================================== */

/* CONTAINER
========================================================================== */
.social-networks-container {
	@include breakpoint(small) {
		text-align:center;
	}

}

/* FACEBOOK LIKE
========================================================================== */
.social-networks-container__box {
	overflow:hidden;
	width:300px; height:258px;
	border: 1px solid #aaa;
	border-top-color: #3b5998;
	@include breakpoint(underDesktop) {
		width:231px; height:206px;
	}
}

.social-networks-container__title {
	display:inline-block;
	width:169px; height:26px;
	text-indent:-9999px;
	background:url('../img/icons/icon-find-us.svg') no-repeat;
}

/* SOCIAL NETWORKS LIST
========================================================================== */
.social-networks-container__find-us {
	display:block;
}

.social-networks-list {
	display:inline-block;
	@include rem(margin, 15px 0 0 10px);
	vertical-align:top;
	@include breakpoint(underDesktop) {
		@include rem(margin, -10px 0 0 0);
	}
}

.social-networks-list__item {
	display:inline-block; vertical-align:top;
	@include breakpoint(underDesktop) {
		margin-right:-2px;
	}
}

.social-networks-list__anchor {
	position:relative;
	display:inline-flex;
	margin:8.95px 0;
	width:31px; height:17.90px;
	background-color: #64C7CC;
	transition:background-color ease .4s;
	&:before, &:after {
		content:"";
		position:absolute;
		width:0;
		border-left:16px solid transparent; border-right:15px solid transparent;
	}
	&:before {
		bottom: 100%;
		border-bottom: 8.95px solid #64C7CC;
		transition:border-bottom-color ease .4s;
	}
	&:after {
		top: 100%;
		width: 0;
		border-top: 8.95px solid #64C7CC;
		transition:border-top-color ease .4s;
	}
	&:hover, &:focus {
		opacity:1;
	}
}

.social-networks-list__anchor--facebook {
 	background-color:$color-Cello;
 	&:before {
 		border-bottom-color:$color-Cello;
 	}
 	&:after {
 		border-top-color:$color-Cello;
 	}
 	&:hover, &:focus {
 		background-color:$color-Chambray;
 		transition:background-color ease .4s;
	 	&:before {
	 		border-bottom-color:$color-Chambray;
	 		transition:border-bottom-color ease .4s;
	 	}
	 	&:after {
	 		border-top-color:$color-Chambray;
	 		transition:border-top-color ease .4s;
	 	}
 	}
}

.social-networks-list__anchor--linkedin {
 	background-color:$color-Cello;
 	&:before {
 		border-bottom-color:$color-Cello;
 	}
 	&:after {
 		border-top-color:$color-Cello;
 	}
 	&:hover, &:focus {
 		opacity:1;
 		background-color:$color-Deep-Cerulean;
 		transition:background-color ease .4s;
	 	&:before {
	 		border-bottom-color:$color-Deep-Cerulean;
	 		transition:border-bottom-color ease .4s;
	 	}
	 	&:after {
	 		border-top-color:$color-Deep-Cerulean;
	 		transition:border-top-color ease .4s;
	 	}
 	}
}

.social-networks-list__anchor--behance {
 	background-color:$color-Calypso;
 	&:before {
 		border-bottom-color:$color-Calypso;
 	}
 	&:after {
 		border-top-color:$color-Calypso;
 	}
 	&:hover, &:focus {
 		opacity:1;
 		background-color:$color-Black;
 		transition:background-color ease .4s;
	 	&:before {
	 		border-bottom-color:$color-Black;
	 		transition:border-bottom-color ease .4s;
	 	}
	 	&:after {
	 		border-top-color:$color-Black;
	 		transition:border-top-color ease .4s;
	 	}
 	}
}

.social-networks-list__icon {
	position:absolute; top:-50%; bottom:-50%; right:-50%; left:-50%;
	margin:auto;
	text-indent:-9999px;

	.social-networks-list__anchor--facebook & {
		width:8px; height:17px;
		background:url('../img/icons/icon-facebook.svg') no-repeat;
	}

	.social-networks-list__anchor--linkedin & {
		width:16px; height:15px;
		background:url('../img/icons/icon-linkedin.svg') no-repeat;
	}

	.social-networks-list__anchor--behance & {
		width:19px; height:13px;
		background:url('../img/icons/icon-behance.svg') no-repeat;
	}
}


/* WRAPPER
========================================================================== */
//overwrite from the .horizontal-breaker from "grid.scss"
.horizontal-breaker--content {
    @include rem(margin, 40px auto 50px);
}
