/* BREAKER
========================================================================== */
//overwrite from the .horizontal-breaker from grid.scss
.horizontal-breaker--testimonials {
	@include rem(margin, 80px auto 70px);
}

/* WRAPPER
========================================================================== */
.section--testimonials {
	@include rem(margin-bottom, 180px);
	@include breakpoint(small) {
		@include rem(margin-bottom, 80px);
	}
}

/* CONTAINER
========================================================================== */
.testimonials-container__title {
	@include rem(margin-bottom, 25px);
	@include breakpoint(small) {
		text-align:center;
	}
}

/* TESTIMONIAL
========================================================================== */
.testimonials-container__thumb {
	@include rem(margin-bottom, 10px);
	@include breakpoint(small) {
		display:inherit;
		margin:auto;
	}
}

.testimonials-container__testimonial {
	@include rem(margin-bottom, 20px);
}

.testimonials-container__name {
	display:block;
}

.testimonials-container__profession {
	display:block; @include rem(margin-bottom, 60px);
}