/* WRAPPER
========================================================================== */
.section--works {}

/* CONTAINER
========================================================================== */
.works-container {
}

/* CONTAINER
========================================================================== */
.works-container__title {
	@include rem(margin-bottom, 30px);
	@include breakpoint(small) {
		margin-bottom:0;
	}
}


/* WORK LIST
========================================================================== */
.works-list {
	display:inline-block;
	@include rem(margin-bottom, 70px);
}
.works-list__item {
	position:relative;
	display:flex; align-items:center; justify-content:center;
	@include rem(height, 170px);
	text-align:center;
	&:before, &:after {
		content:'';
		position:absolute;
		margin:auto;
		background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAABCAYAAAAIN1RAAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAyNi4wMS4xNSR7zh4AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAGklEQVQImWOcOXPmfwY0kJ6ezoguxsDAwAAAkiIEAvcLrgUAAAAASUVORK5CYII=') repeat-x; height:3px;
	}
	&:before {
		right:-100%; bottom:0; left:-100%;
		width:85%;
	}
	&:after {
		top:-100%; right:-105%; bottom:-100%; left:0;
		width:45%;
		transform:rotate(90deg);
		@include breakpoint(underDesktop) {
			width:80%;
		}
	}
	&:nth-child(4n) {
		margin-right:0;
		&:after {
			content:none;
		}
	}

	@include breakpoint(exceptSmall) {
		&:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
			&:before { content:none; }
		}
	}

	@include breakpoint(small) {
		float:left;
		width:50%;
		margin-right:0;
		&:after {
			right:-100%;
		}
		&:nth-child(2n) {
			&:after {
				content:none;
			}
		}
		&:nth-last-child(1), &:nth-last-child(2) {
			&:before { content:none; }
		}
	}
}

.works-list__logo {
	@include breakpoint(small) {
		max-width:80%;
	}
}

/* MORE WORKS ANCHOR
========================================================================== */
.work-container__see-works {
	position:relative; top:0;
	display:inline-block;
	@include rem(padding, 20px 40px 15px);
	background-color:$color-Log-Cabin;
	transition:transform ease .3s;
	&:hover, &:focus {
		opacity:.95;
		transition:transform ease .3s;
		transform:translateY(2px);
	}
	&:active {
		transition:transform ease .3s;
		transform:translateY(4px);
	}
	&:before {
		content:''; position:absolute; top:0; right:0;
		width:0; height: 0;
		border-style: solid;
		border-width: 0 15px 10px 0;
		border-color: transparent $color-Wild-Sand transparent transparent;
	}
	&:after {
		content:'';
		position:absolute; bottom:0; left:0;
		width:100%; height:5px;
		background-color:$color-Black;
	}
}
