html {
	height:100%;
    background-color:$color-Wild-Sand;
}

.section {
	width:100%; overflow:hidden;
    // clear at the end of container
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

.content {
	margin:auto; @include rem(padding, 0 0 0 20px);
	max-width:$maxWidth;
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
	@include breakpoint(exceptDesktop) {
		max-width:768px;
	}
	@include breakpoint(mobile) {
		@include rem(padding, 0 20px);
		max-width:100%;
	}
    @include breakpoint(small) {
        padding:0 10px;
    }
}

.row {
    // clear at the end of container
    clear:both;
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

//The container of the modules
.module {
    @include rem(padding-top, 100px);
    @include breakpoint(mobile) {
        @include rem(padding-top, 60px);
    }
}

.module--page {
    @include rem(padding-bottom, 100px);
    @include breakpoint(mobile) {
        @include rem(padding-bottom, 60px);
    }
    background-image:linear-gradient(rgb(238,238,238) 0%,rgb(255,255,255) 100%);
}

//Loop through the number of columns in the current layout and creates the specific classes
@for $i from 1 through 12 {
    .col-#{$i}-12 {
    	@if $i == 1 {

				//If it's the first column, we can't count the gutter width with the total width
				@include rem(width, $columnWidth * $i);

				@media (max-width:$desktopSize) {
					@include rem(width, $columnMediumWidth * $i);
				}

    		} @else {

    			@include rem(width, $columnWidth * $i + $gutterWidth * $i - $gutterWidth);

				@media (max-width: $desktopSize) {
					@include rem(width, $columnMediumWidth * $i + $gutterWidth * $i - $gutterWidth);
				}

    		}

		//This is the default gutterWidth for every collumn and the display method
		@include rem(margin-right, $gutterWidth);
		float:left;

		//We need to ensure that the collumns will not colapse
		min-width:1px;

		@media (max-width: $smallSize) {
			min-width:1px; width:100%;
		}

    }
}

.horizontal-breaker {
    @include rem(margin, 20px auto 90px);
    @include breakpoint(small) {
        @include rem(margin, 50px auto);
    }
}