//Calculate REM through pixel. Example: @include rem(property, value);

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 16 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 16 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

//Media query breakpoint
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktopSize) { @content; }
  }

  @else if $point == exceptDesktop {
    @media (max-width: $desktopSize) { @content; }
  }

  @else if $point == underDesktop {
    @media (max-width: $desktopSize) and (min-width: $smallSize) { @content; }
  }

  @else if $point == mobile {
    @media (max-width: $mediumSize) { @content; }
  }

  @else if $point == small {
    @media (max-width: $smallSize)  { @content; }
  }

  @else if $point == landscape {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      @content;
    }
  }

  @else if $point == exceptSmall {
    @media (min-width: $smallSize)  { @content; }
  }
}