/* TEXT
========================================================================== */
.default-text {
	margin:0;
	font-family:$font-Sans-Narrow; @include rem(font-size, 16px); line-height:1; font-weight:normal; font-style:normal;
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}

/**
 * FONT-WEIGHTS
 */
.default-text--bold { font-weight:bold; }
.default-text--light { font-weight:lighter; }
.default-text--uppercase { text-transform:uppercase; }

/**
 * FONT-FAMILY
 */
.default-text--paragraph { font-family:$font-Droid-Serif; }

/**
 * FONT-SIZES
 */
.default-text--size-1 { @include rem(font-size, 14px); line-height:1.4; }
.default-text--size-2 {
	@include rem(font-size, 16px); line-height:1.35;
	@include breakpoint(underDesktop) {
		@include rem(font-size, 14px);
	}
}
.default-text--size-3 {
	@include rem(font-size, 18px); line-height:1.2;
	@include breakpoint(underDesktop) {
		@include rem(font-size, 16px);
	}
}
.default-text--size-4 { @include rem(font-size, 20px); line-height:1.1;}
.default-text--size-5 { @include rem(font-size, 22px); }
.default-text--size-6 {	@include rem(font-size, 30px); }
.default-text--size-7 {
	@include rem(font-size, 40px);
	@include breakpoint(small) {
		@include rem(font-size, 30px); line-height:1.2;
	}
}
.default-text--size-8 {
	@include rem(font-size, 50px); line-height:.9;
	@include breakpoint(exceptDesktop) {
		@include rem(font-size, 40px);
	}
	@include breakpoint(small) {
		@include rem(font-size, 30px);
	}
}
.default-text--size-9 {
	@include rem(font-size, 64px);
	@include breakpoint(small) {
		@include rem(font-size, 50px); line-height:0.8;
	}
}
.default-text--size-10 {
	@include rem(font-size, 120px);
	@include breakpoint(small) {
		@include rem(font-size, 64px);
	}
}

/**
 * FONT-COLORS
 */
.default-text--color-1 { color:$color-White; }
.default-text--color-2 { color:$color-Yellow-Sea; }
.default-text--color-3 { color:$color-Mine-Shaft; }
.default-text--color-4 { color:$color-Pickled-Bluewood; }
.default-text--color-5 { color:$color-Concrete; }
.default-text--color-6 { color:$color-Steel-Blue; }
.default-text--color-7 { color:$color-Tundora; }
.default-text--color-8 { color:$color-Calypso; }
.default-text--color-9 { color:$color-Emperor; }
.default-text--color-10 { color:$color-Amber; }



/**
 * SPECIAL CASES
 */
.default-text--page-title {

}

/**
 * SECTION ESPECIFICS
 */
.default-text--section-title { @include rem(margin-bottom, 20px); }