/* GRID VARIABLES
========================================================================== */
$columnWidth:60px;
$columnMediumWidth:42px;
$gutterWidth:20px;
$maxWidth:980px;
$smallSize:47.9374em;
$mediumSize:48em;
$desktopSize:61.25em;

/* FONT VARIABLES
========================================================================== */
$font-Sans-Narrow : 'PT Sans Narrow', sans-serif;
$font-Droid-Serif : 'Droid Serif', serif;
$defaultText : 'Arial';

/* COLOR VARIABLES
========================================================================== */
$color-Black : rgb(0,0,0);
$color-Log-Cabin : rgb(28,28,26);
$color-White : rgb(255,255,255);
$color-Wild-Sand : rgb(244,244,244);
$color-Outer-Space : rgb(32,50,51);
$color-Yellow-Sea : rgb(255,177,6);
$color-Mine-Shaft : rgb(51,51,51);
$color-Pickled-Bluewood : rgb(51,71,93);
$color-Concrete : rgb(244,244,244);
$color-Steel-Blue : rgb(62,133,159);
$color-Tundora : rgb(68,68,68);
$color-Emperor : rgb(82,82,82);
$color-Pelorous : rgb(75,159,190);
$color-Supernova : rgb(255,203,0);
$color-Rangoon-Green : rgb(21,21,17);
$color-Ming : rgb(48,104,122);
$color-Golden-Tainoi : rgb(255,208,96);
$color-Carnation : rgb(243,107,84);
$color-Mineral-Green : rgb(66,103,87);
$color-Calypso : rgb(53,116,140);
$color-Cello : rgb(29,71,87);
$color-Chambray : rgb(59,89,152);
$color-Deep-Cerulean : rgb(0,123,182);
$color-Amber : rgb(255,189,0);