/* BUTTONS
========================================================================== */
.anchor-button__wrapper {
	display:block;
	text-align:center;
}
.anchor-button {
	position:relative; z-index:2;
	display:inline-block;
	padding:0;
	background:none;
	border:none;
	@include rem(font-size, 20px); color:$color-Log-Cabin; font-family:$font-Sans-Narrow; font-weight:bold; text-transform:uppercase; text-align:center;
	transition:all ease .6s;
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
	&:after {
		content:'';
		position:absolute; top:-3px; left:-3px; z-index:-1;
		width:294px; height:69px;
		background:url('../img/backgrounds/bg-header-input.svg') no-repeat;
	}
	&:before {
		content:'';
		position:absolute; top:0; left:0; z-index:3;
		width:100%; height:100%;
		border:2px dashed $color-Rangoon-Green;
	}
	&:hover, &:focus {
		opacity:.8;
		transition:all ease .4s;

		.anchor-button__text-side-1 {
			transform:translateY(-45px);
		}
		.anchor-button__text-side-2 {
			transform:translateY(-60px);
		}
	}

	/*@include breakpoint (mobile) {
		@include rem(padding, 14px 19px 15px);
	}
	@include breakpoint (small) {
		@include rem(padding, 11px 14px 11px);
		@include rem(font-size, 13px);
	}*/
}

/**
 * COLORS
 */


/**
 * TYPES
 */

 /**
 * TEXT
 */
.anchor-button__text-container {
	overflow:hidden;
	position:relative;
	display:inline-block;
	@include rem(padding-top, 20px);
	@include rem(width, 294px); @include rem(height, 55px);
	text-align:center;
	transition:transform ease .4s;
}

.anchor-button__text-side-1 {
	position:absolute; @include rem(left, 40px);
	transition:transform ease .4s;
}

.anchor-button__text-side-2 {
	position:absolute; @include rem(left, 70px); @include rem(top, 80px);
	transition:transform ease .4s;
}