/* BUTTONS
========================================================================== */
.default-button__wrapper {
	@include breakpoint (small) {
		text-align:center;
	}
}

.default-button {
	padding:0; margin:0;
	text-align:left;
	background:none;
	border:none;
	color:transparent;
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
    &:focus, &:hover {
        transition: opacity ease .3s;
        opacity:.7;
    }
}
