/* ICONS
========================================================================== */
.default-icon {
	display:inline-block;
	text-indent:-9999px;
}
.default-icon--email {
	width:19px; height:16px;
	background:url('../img/icons/icon-email.svg') no-repeat;
}
.default-icon--pin {
	width:15px; height:19px;
	background:url('../img/icons/icon-pin.svg') no-repeat;
}

.default-icon--phone {
	width:16px; height:19px;
	background:url('../img/icons/icon-phone.svg') no-repeat;
}

.default-icon__cloud {
	width:170px; height:50px;
	background:url('../img/icons/icon-cloud.svg') no-repeat;
}