.thumb-anchor {
	position:relative;
	display:block;
	line-height:0;
	&:before {
		content:'';
		position:absolute; top:0;
		display:block;
		width:100%; height:2px;
		background-color:$image-border;
	}
}
