/* INPUTS
========================================================================== */
.default-input {
	display:block;
	@include rem(margin-bottom, 22px); margin-top:4px; @include rem(padding, 15px 20px);
	width:100%; height:60px;
	border:2px solid $color-Silver-Chalice;
	background-color:none;
}

.default-input--textarea {
	@include rem(margin-bottom, 21px);
	height:280px;
}



/* CUSTOM SELECT
========================================================================== */
/*.select-list-container {
	position:relative;
	z-index:15;
	@include rem(margin-bottom, 20px);
	@include rem(padding, 18px 10px 5px 18px);
	height:60px;
	@include rem(font-size, 15px); text-align:left; text-transform:uppercase;
	border:2px solid $color-Silver-Chalice;
	background-color:#fff;
	cursor:pointer;
 	&:after, &:before {
 		content:'';
 		position:absolute; top:0; bottom:0; right:10px;
 		margin:auto;
 		width:0px; height:0px;
 		border-style:solid; border-width:5px 4.5px 0 4.5px; border-color:rgb(37,17,10) transparent transparent transparent;
	}
	&:before {
		top:-5px;
		transform:rotate(180deg);
	}
	&:after {
		top:10px;
	}
 	&:hover, &:focus { opacity:0.7; }
	select {
		position:absolute; top:0; left:0;
		width:100%;
		cursor:pointer;
		opacity:0;
		background:red;
		&:focus {
			+ .select-list-container__default-item { opacity:0.7; }
		}
		@media screen and (-webkit-min-device-pixel-ratio:0) {
	        height:60px; width:100%;
	        line-height:50px;
	        background:#f4f4f4;
		}
	}
}*/

/* CUSTOM SELECT
========================================================================== */
.custom-select {
	position: relative;
	display:block;
	margin-top:0.5em;
	padding:0;
	width:100%; height:60px;
	border:2px solid $color-Silver-Chalice;
	background-color:none;
	cursor:pointer;
 	&:after, &:before {
 		content:'';
 		position:absolute; top:0; bottom:0; right:10px;
 		margin:auto;
 		width:0px; height:0px;
 		border-style:solid; border-width:5px 4.5px 0 4.5px; border-color:rgb(37,17,10) transparent transparent transparent;
 		pointer-events:none;
	}
	&:before {
		top:-5px;
		transform:rotate(180deg);
	}
	&:after {
		top:10px;
	}
	&:hover, &:focus { opacity:0.7; }
}


/* This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper */
.custom-select select {
  width:100%;
  margin:0;
  background:none;
  border: 1px solid transparent;
  outline: none;
  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Font size must the 16px or larger to prevent iOS page zoom on focus */
  font-size:1em;
  padding: 0.9em 1.9em 1em .8em;
  line-height:1.3;
  cursor:pointer;
}

/* Focus style */
.custom-select select:focus {
  outline:none;
  box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
  background-color:transparent;
  color: #222;
  border:1px solid #aaa;
}

/* Set options to normal weight */
.custom-select option {
  font-weight:normal;
}


/* ------------------------------------  */
/* START OF UGLY BROWSER-SPECIFIC HACKS */
/* ----------------------------------  */

/* OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple. Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7 */
x:-o-prefocus, .custom-select::after {
  display:none;
}

 /* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .custom-select select::-ms-expand {
    display: none;
  }
  .custom-select select:focus::-ms-value {
    background: transparent;
    color: #222;
  }
}


/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() {
  .custom-select {
    overflow: hidden;
  }
  .custom-select select {
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + em);
  }

}

/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.custom-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* ------------------------------------  */
/*  END OF UGLY BROWSER-SPECIFIC HACKS  */
/* ------------------------------------  */