/* WRAPPER
========================================================================== */
.section--contact {
	overflow:visible;
	position:relative;
	@include rem(padding, 50px 0 220px);
	background-color:$color-Log-Cabin;
	@include breakpoint(small) {
		@include rem(padding, 70px 0);
	}
	&:before {
		content:'';
		position:absolute; top:-110px;
		height:200px; width:100%;
		transform:skew(0deg, 5deg);
		background-color:$color-Log-Cabin;
		@include breakpoint(small) {
			content:none;
		}
	}
}

/* CONTENT
========================================================================== */
.contact-container { position:relative; z-index:1; }