/* WRAPPER
========================================================================== */
.section--footer {
	overflow:visible;
	position:relative;
	@include rem(padding-bottom, 32px);
	background-color:$color-Amber;
	&:before {
		content:'';
		position:absolute; top:-90px;
		height:180px; width:100%;
		transform:skew(0deg, 5deg);
		background-color:$color-Amber;
		@include breakpoint(small) {
			content:none;
		}
	}
	@include breakpoint(small) {
		text-align:center;
		@include rem(padding, 40px 0);
	}
}

/* CONTENT
========================================================================== */
.footer-container {
	position:relative;
}

/* BEE
========================================================================== */
.footer-container__thanks {
	display:block;
	@include rem(margin, -18px 0 0 7px);
	@include breakpoint(small) {
		margin:0;
	}
}

.footer-container__mascot {
	position:absolute; top:-156px; right:0;
	width:450px; height:330px;
	background:url('../img/logos/marimbonda-small.svg') no-repeat;
	@include breakpoint(underDesktop) {
		top:-117px; right:-56px;
		width:448px; height:332px;
		transform:scale(.75);
	}
	@include breakpoint(small) {
		display:none;
		background-image:none;
	}
	&:after {
		content:'';
		position:absolute; bottom:45px; right:110px;
		width:57px; height:39px;
		background:url('../img/logos/marimbonda-small--eyes.svg') no-repeat;
		animation:blink 3.5s infinite steps(2,end);
		@include breakpoint(small) {
			content:none;
			background:none;
		}
	}
}

@keyframes blink {
    from { background-position:0 0; }
    75% { background-position:0 0; }
    to { background-position: -182px 20px; }
}