/* SECTION WRAPPER
========================================================================== */
.section--home-header {
	position:relative; //overflow:hidden !important; //We need this for the parallax efects
	@include rem(padding, 80px 0 500px);
	background-color:$color-Pelorous;
	@include breakpoint(underDesktop) {
		@include rem(padding-bottom, 297px);
	}

	@include breakpoint (small) {
		@include rem(padding, 70px 0 60px);
	}

}

/* CONTENT WRAPPER
========================================================================== */
.home-header {
	position:relative; z-index:100;
	@include breakpoint(small) {
		display:flex;
		flex-direction:column;
		.no-flexbox & {
			display:inline-block;
		}
	}
}

.home-header__logo {
	display:block;
	@include rem(margin-bottom,65px);
	width:300px; height:95px;
	background:url('../img/logos/logo-marimbondo.svg') no-repeat;
	text-indent:-9999px;
	@include breakpoint(small) {
		order:2;
		margin:auto;
		width:250px;
		background:url('../img/logos/mobile/logo-marimbondo-mobile.svg') no-repeat;
	}
}

/* ABOUT
========================================================================== */
.home-header__about {
	@include rem(margin-bottom,20px);
	@include breakpoint(small) {
		order:3;
		@include rem(margin-bottom,30px);
	}

}
.home-header__sub-header {
	@include rem(margin-bottom,10px);
	@include breakpoint(small) {
		order:3;
	}
}


/* WORK BUTTON
========================================================================== */
.home-header__lets-work-container {
	@include breakpoint(small) {
		text-align:center;
	}
}

/* BACKGROUND CITIES
========================================================================== */
.home-header__uptown {
	position:absolute; top:425px; z-index:4;
	width:100%; height:477px;
	background:url('../img/backgrounds/bg-top-city.svg') repeat-x;
	@include breakpoint(underDesktop) {
		top:455px;
	}
	@include breakpoint(exceptDesktop) {
		transform:none !important;	//This way we remove the transform changes that the parallax will do
	}
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
		top:425px;
	}
	@include breakpoint (small) {
		top:200px;
	}
}

.home-header__middletown {
	position:absolute; top:485px; right:0; left:0; z-index:5;
	width:100%; height:417px;
	background:url('../img/backgrounds/bg-middle-city.svg') no-repeat center center;
	@include breakpoint(underDesktop) {
		background:url('../img/backgrounds/mobile/bg-middle-city-mobile.svg') no-repeat center;

	}
	@include breakpoint(exceptDesktop) {
		transform:none !important;	//This way we remove the transform changes that the parallax will do
	}
	@include breakpoint(landscape) {
		background:url('../img/backgrounds/mobile/bg-middle-city-mobile.svg') no-repeat center;

	}
	@include breakpoint (small) {
		top:260px;
	}
}

.home-header__lowertown {
	position:absolute; top:630px; z-index:100;
	width:100%; height:268px;
	background:url('../img/backgrounds/bg-lower-city.svg') repeat-x;
	&:before {
		content:'';
		position:absolute; top:100%;
		height:120%; width:100%;
		background-color:rgb(62,133,159);
	}
	@include breakpoint (exceptDesktop) {
		z-index:99; //We do this to remove the overlay from the cities
		transform:none !important;	//This way we remove the transform changes that the parallax will do
	}
	@include breakpoint(landscape) {
		height:150px;
	}
	@include breakpoint (small) {
		z-index:5;
		top:400px;
		&:before {
			height:100%;
		}
	}
}

.home-header__lowertown--diagonal-space {
	position:absolute; bottom:-415%; right:0; left:0;
	width:250%; height:800px;
	transform:skew(0deg, 5deg);
	background-color:$color-Wild-Sand;
	@include breakpoint(underDesktop) {
		bottom:-140px;
		width:270%; height:134px;
	}
	@include breakpoint(landscape) {
		bottom:-450px;
		width:270%; height:250px;
	}
	@include breakpoint(small) {
		display:none;
	}
}

/* BACKGROUND CLOUDS
========================================================================== */
//Extends ".default-icon__cloud" from icons.scss
.default-icon__cloud--header {
	position:absolute; top:100px; left:-50px;
	opacity:.3;
}
.default-icon__cloud--reversed {
 	position:absolute; top:115px; left:-180px;
 	opacity:.3;
	transform:rotate(180deg);
}

.default-icon__cloud--large {
	position:absolute; top:-40px; left:480px;
	opacity:.5;
	transform:scale(1.25);
}

.default-icon__cloud--reversed-small {
	position:absolute; top:-25px; left:390px;
	opacity:.5;
	transform:rotate(180deg) scale(.6);

}

/* MASCOT
========================================================================== */
.home-header__mascot-holder {
	@include breakpoint(small) {
		text-align:center;
		order:2;
	}
}

.home-header__mascot {
	position:relative;
	@include rem(margin-top, -55px); @include rem(margin-left, 58px);
	animation:fly 2.65s linear infinite;

	@include breakpoint(underDesktop) {
		position:absolute;
		margin:-140px 0 0 -50px;
	}
	@include breakpoint(small) {
		margin:0; margin-bottom:30px;
		width:245px; height:256px;
	}
}
@keyframes fly {
    0% { transform:translateY(0); }
    50% { transform:translateY(30px); }
    100% { transform:translateY(0); }
}